.settings/
.project
.metadata
*.DS_Store
# IntelliJ Files
*.iml
.idea
matsimExamples
**/target
/log_projects.log
*.orig
matsim/docs/doxygen/html
matsim/src/main/java/Doxyfile

# VS Code files
.vscode

# ignore output directories:
output/
data/freightChessboardRC/*
data/chessboardCarrierReceiverCollabCorrect/
data/chessboardCarrierReceiverCollabCorrectMoreAF/
data/chessboardCarrierReceiverCollabMoreDispersed/
data/chessboardCRCollabMoreDispersed/
!data/freightChessboardRC/figures/
!data/freightChessboardRC/figures/**
#ignore pycache
**/__pycache__/
.DS_Store
/.claude
/data/leuvenFreightCollabRC.qgz
/data/randomDemand20Receivers_nni
/data/randomDemand20ReceiversOutput
/data/randomDemand15Receivers_nni
/data/randomDemand15ReceiversOutput
/data/freightCollabLeuven15Receivers/clean
/data/randomDemand15ReceiversOutput
/data/freightCollabLeuven15Receivers/
data/freightChessboardRC/figures
/figures
